@model CashFlowManager.Models.ClientChartModel

@{
    ViewBag.Title = "IncomeExpense";
}

<div>
    @Html.ActionLink("Back to Client", "Edit","Client",new {practiceId= Model.PracticeId,clientId = Model.ClientId},null)
</div>


<button id="3months">3 Months </button>
<button id="6months">6 Months </button>
<button  id="12months">12 Months </button>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var chart;
      var tdata;
      var threeMonthsButton = document.getElementById('3months');
      var sixMonthsButton = document.getElementById('6months');
      var twelveMonthsButton = document.getElementById('12months');
      var options;
      
      function drawChart() {
          var numMonths = urlParam('numberMonths');
          tdata = new google.visualization.DataTable();
          tdata.addColumn('string', 'Year');
          tdata.addColumn('number', 'Income');
          tdata.addColumn('number', 'Expense');
          tdata.addColumn('number', 'Cash On Hand');
          chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

          options = {
              animation: {
                  duration: 1000,
                  easing: 'out',
              },
              title: "Income and expenses for " + numMonths + " Months",
              hAxis: { title: 'Months', },
              vAxis: {maxValue: 1000}
          };
          
          // Add our over/out handlers.
          google.visualization.events.addListener(chart, 'onmouseover', barMouseOver);
          google.visualization.events.addListener(chart, 'onmouseout', barMouseOut);

          GetDataDrawGraph(3);
      }
      
      function ShowChart() {
         chart.draw(tdata, options);
    }

      threeMonthsButton.onclick = function() {
          GetDataDrawGraph(3);
      };
      sixMonthsButton.onclick = function () {
          GetDataDrawGraph(6);
      };
      twelveMonthsButton.onclick = function () {
          GetDataDrawGraph(12);
      };
      
      function GetDataDrawGraph(numberMonths) {
          var clientId = urlParam('clientId');
          var numMonths = numberMonths;
          var practiceId = urlParam('practiceId');
          $.get('/CashFlowManager/ClientChart/GetIncomeExpenseData?clientId=' + clientId + '&practiceId=' + practiceId + '&numberMonths=' + numMonths, {},
              function (data) {
                  var numRows = tdata.getNumberOfRows();
                  if (numRows > 0) {
                      tdata.removeRows(0, numRows);
                    }

                  for (var i = 0; i < data.length; i++) {
                      tdata.addRow([data[i].DateGroup, data[i].Income, data[i].Expense, data[i].CashOnHand]);
                  }

                  ShowChart();
              });
      }
      
      function animationWorks() {
          alert("hello");
      }

      function barMouseOver(e) {
          chart.setSelection([e]);
      }

      function barMouseOut(e) {
          chart.setSelection([{ 'row': null, 'column': null }]);
      }
      
      function urlParam(name) {
          var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results == null) {
              return null;
          }
          else {
              return results[1] || 0;
          }
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>